.blog_category_page {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;

    .blog_category_page_title {
        font-size: 100px;
        letter-spacing: 16px;
        transform: translateY(-20px);
        font-size: 81px;
    }

    .blog_category_page_main_section {
        margin-top: 50px;
        display: grid;
        justify-items: center;
        grid-template-columns: center;
        width: 100%;
    }
}

@media screen and (max-width: 1000px) {
    
    .blog_category_page {
        .occupation {
            width: 100%;
            .blog_category_page_title {
                font-size: 3rem;
                width: 100%;
            }
        }
    }
}

@media screen and (max-width: 810px) {
    .blog_category_page {
        .occupation {
            .blog_category_page_title {
                font-size: 2rem;
            }
        }
    }
}

@media screen and (max-width: 430px) {
    
    .blog_category_page {
        width: auto;

        .blog_category_page_main_section {
            width: 100%;
        }

        .occupation {
            .blog_category_page_title {
                font-size: 1.8rem;
                letter-spacing: 5px;
            }
        }
    }
}


@media screen and (max-width: 320px) {
    .blog_category_page {
        width: 320px;
    }
}