body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    background-color: #eee;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
}

.projects {
    border: 12px solid black;
    display: flex;
    justify-content: center;
}

.projects img {
    width: 350px;
    height: 190px;
}

.projects img::after {
    content: '';
    background-color: black;

}